@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Work+Sans&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: #F3F7E9;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
}

h1.header{
    background-image: url(../img/banner.png);
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 1px 4px 4px rgba(0,0,0,0.38);
}

#container{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;
}

fieldset#menu{
    border-color: #D8DBCE;
    padding: 20px;
}

fieldset#menu legend{
    text-align: center;
    background-color: #093400;
    padding: 3px;
    border-radius: 50px;
    width: 100%;
    color: white;
}

ul.combos{
    list-style: none;
}

li{
    list-style: none;
}

.Combos li{
    display: inline-block;
}

label#combo{
    display: block;
}

.ProductosPrincipales{
    padding-top: 2%;
    padding-bottom: 1.5%;
}

.Sugerencia{
    padding-top: 2%;
    padding-bottom: 1.5%;
}

.Sugerencia textarea{
    width: 99%;
    border-style: none;
    border: 2px solid rgb(206, 206, 206);
}

input[type="button"]{
    border-color: #093400;
    background-color: transparent;
    color: #093400;
    padding: 2.5px;
    border-radius: 5px;
}

input[type="radio"]:checked {
    border:7px solid  #0fbf12;
}

div#monto{
    width: 55%;
    margin: 0 auto;
}




#suger {
    
    border: 1px solid green;
    height: 80px;
    padding: 3px 5px;
}


#mensaje {
    border: 2px groove green;
    padding: 0px;
    display: none;
}

#mensaje:focus {
    outline: none;
}


.detalles{
    display: none;
    padding: 20px;
    width: 72%;
    margin: 0 auto;
    border: 1px dashed black;
    margin-bottom: 50px;
}

.detalles h2{
    color: green;
}

.detalles p{
    margin: 20px;
}

.detalles hr{
    margin: 10px;
}